/* common styles */
/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

/* first-part-style */
.first-part, .bonus-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 70px;
    margin-left: 70px;
    
}
.first-title{
    margin-left: 70px;
}
.influencer-header{
    width: 582px;
    height: 270px;
}
.influence-image{
    width: 440px;
}
.fisrt-part > .influencer-header > h1{
    width: 582px;
    height: 133px;
}
.influencer-header a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
}
.influencer-header a:hover {
    background-image: linear-gradient(#d31132,#aa4354a4);
  }
.fa-arrow-right{
    margin-left: 5px;
}
/* optioanl-part-style */
.company-logo{
    display: flex;
    justify-content: center;
    
}
.company-logo img{
    margin-right: 20px;
}
hr{
    margin-top: 30px;
    padding: 1.5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
}

/* popular-collection-part */
.popular-collection h2{
    text-align: center;
    margin-top: 100px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
    background-color: #aaaaaa33;     
}
.collection{
    width: 389px;
    height: 486px;
    background-color: white;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 15px;
}
.collection-image img{
    width: 300px;
    height: 256px;
}
.collection-price{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #161515;
}
.see-more{
    display: flex;
    justify-content: flex-end;
    
}
.popular-collection a{
    text-decoration: none;
    color: #E02C6D;
    margin-top: 10px;
    margin-right: 90px;
    
}
/* bonus-part-style */
.bonus-part{
    grid-column-gap: 50px;
    margin-top: 100px;
}
.bonus-part img{
    margin-left: 30px;
}
.bonus-header a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    
}
/* footer-part-style */
footer{
    background-color: #0A0826;
    padding: 30px;
    margin-top: 15px;
    
}
footer h2{
    color: white;
    text-align: center;
}
footer h4{
    color: white;
    text-align: center;
}
.footer-another-half{
    color: white;
    display: flex;
    justify-content: center;
}
.fab{
    margin-right: 16px;
    align-content: center;
}

/* media-quiries-for-responsiveness */
/* Mobile-devices */
@media only screen and (max-width:688px) {
    body{
        margin: 0;
        padding: 0;
        
    }
    .fisrt-part{
        width: 75%;
    }
    .influencer-header p{
        width: 330px;
    }
    .influencer-header{
       margin-left: 25px;
    }
    .influencer-header h1{
        width: 280px;
    }
    .influence-image img{
        margin-top: 35px;
        width: 220px;
    }

    .first-title{
        text-align: center;
    }
    .first-part{
        grid-template-columns: repeat(1,1fr);
        margin-left: 25px;
        justify-content: center;
        align-items: center;
        padding-left: 175px;
        
    }
    .company-logo{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .container-logo{
        margin-left: 30px;
    }
    .container-logo{
        width: 100%;
    }
    .collections{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
    }
    .collection{
        width: 320px;
    }
    .bonus-part{
        grid-template-columns: repeat(1,1fr);
        width: 350px;
        justify-content: center;
        text-align: center;
        
    }
    .container-bonus{
        width: 420px;
    }
    .bonus-header{
        margin-bottom: 25px;
    }
    .bonus-header p{
        width: 360px;
    }
    .bonus-header h1{
        width: 380px;
    }
    footer{
        width: 395px;
    }

}
/* Tbalet Devices */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container-first{
        width: 100%;
    }
    .container-logo{
        width: 100%;
        margin-left: 0;
    }
    .container-popular{
        width: 100%;
    }
    .container-bonus{
        width: 100%;
    }
    .container-footer{
        width: 100%;
    }
    .first-part{
        margin-left: 0;
        width: 200px;
    }
    .first-mobile{
        width: 300px;
    }
    .influence-image img{
        width: 250px;
    }
    .influencer-header{
        width: 350px;
        margin-bottom: 40px;
    }
    .collections{
        grid-template-columns: repeat(2,1fr);
        margin-left: 0;
    }
    .collection{
        width: 285px;
    }
    .bonus-header{
        width: 150px;
    }
    .influence-image-bonus img{
        width: 200px;
    }
    footer{
        padding-right: 185px;
    }

    
}

