/* common styles */
/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

/* first-part-style */
.first-part, .bonus-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 133px;
    margin-left: 70px;
}
.first-title{
    margin-left: 70px;
}
.influencer-header{
    width: 582px;
    height: 270px;
}
.influence-image{
    width: 440px;
    height: 414px;
}
.fisrt-part > .influencer-header > h1{
    width: 582px;
    height: 133px;
}
.influencer-header a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
}
.fa-arrow-right{
    margin-left: 5px;
}
/* optioanl-part-style */
.company-logo{
    display: flex;
    justify-content: center;
    
}
.company-logo img{
    margin-right: 20px;
}
hr{
    margin-top: 30px;
    padding: 1.5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
}

/* popular-collection-part */
.popular-collection{ 
    
    /* width: 1047px;
    height: 1662px; */
   
    
}
.popular-collection h2{
    text-align: center;
    margin-top: 100px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
    background-color: #aaaaaa33;     
}
.collection{
    width: 389px;
    height: 486px;
    background-color: white;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 15px;
}
.collection-image img{
    width: 300px;
    height: 256px;
}
.collection-price{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #161515;
}
.see-more{
    display: flex;
    justify-content: flex-end;
    
}
.popular-collection a{
    text-decoration: none;
    color: #E02C6D;
    margin-top: 10px;
    margin-right: 90px;
    
}
/* bonus-part-style */
.bonus-part{
    grid-column-gap: 50px;
    margin-top: 100px;
}
.bonus-part img{
    margin-left: 30px;
}
.bonus-header a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    
}
/* footer-part-style */
footer{
    background-color: #0A0826;
    padding: 30px;
    
}
footer h2{
    color: white;
    text-align: center;
}
footer h4{
    color: white;
    text-align: center;
}
.footer-another-half{
    color: white;
    display: flex;
    justify-content: center;
}
.fab{
    margin-right: 16px;
    align-content: center;
}

